---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@layouts/Header.astro";
---

<BaseLayout pageTitle="About - Ipsum Template">
  <main class="py-6 px-10">
    <Header classList="mb-4 text-center">
      <h1 class="text-3xl font-semibold" slot="heading">
        We build solutions of everday problems.
      </h1>
      <h2 class="text-center" slot="sub-heading">
        This is what we do in a nutshell
      </h2>
    </Header>
  </main>
</BaseLayout>
