---
import { faker } from "@faker-js/faker";
import Header from "@layouts/Header.astro";
import Slide from "@layouts/Slide.astro";
import { Icon } from "astro-icon";

let fakeNumberOfWords = 25;
---

<section class="py-8 flex flex-col justify-between">
  <Header classList="mb-6">
    <h2 class="text-2xl font-semibold text-center" slot="heading">
      Words from our clients
    </h2>
    <h3 slot="sub-heading" class="text-center">
      We don't like to brag, others do it for us.
    </h3>
  </Header>
  <div class="wrapper">
    <Slide
      src="ali-morshedlou-unsplash.jpg"
      name="Ali Morshedlou"
      text={faker.lorem.words(fakeNumberOfWords)}
    />
    <Slide
      src="michael-dam-unsplash.jpg"
      name="Michael Dam"
      text={faker.lorem.words(fakeNumberOfWords)}
    />
    <Slide
      src="joseph-gonzalez-unsplash.jpg"
      name="Joseph Gonzalez"
      text={faker.lorem.words(fakeNumberOfWords)}
    />
    <div class="w-1/2 mx-auto text-center my-4 flex flex-row items-center justify-center gap-6">
      <span class="prev" onclick="plusSlides(-1)">
        <Icon name="dashicons:arrow-left-alt2" width="26" height="26" />
      </span>
      <span class="next" onclick="plusSlides(1)">
        <Icon name="dashicons:arrow-right-alt2" width="26" height="26" />
      </span>
    </div>
  </div>
</section>

<script is:inline>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function showSlides(n) {
    let slides = document.getElementsByClassName("slide");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    slides[slideIndex - 1].style.display = "block";
  }
</script>

<style is:inline>
  section {
    min-height: min-content;
    max-height: max-content;
  }
  img {
    border-radius: 50%;
    object-fit: cover;
  }
  .wrapper {
    width: 100%;
    position: relative;
    margin: auto;
  }
  .slide {
    display: none;
  }
  .sub-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    padding: 0 2rem 0 2rem;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    width: auto;
    padding: 0.65rem;
    color: #262626;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(59, 130, 246, 0.8);
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
</style>
