<div class="text-left md:w-1/4 mb-5 mx-3">
  <div class="mb-4">
    <h3 class="font-semibold">Address</h3>
    <address class="text-neutral-200">Street 221B Baker Street</address>
  </div>
  <div>
    <h3 class="font-semibold">Customer Support</h3>
    <p class="text-secondary">Phone: 0 123 456 789</p>
    <p class="text-secondary">Email: contact@example.com</p>
  </div>
</div>
