  <div class="text-left md:w-1/4 mb-5">
    <div class="mb-4">
      <h3 class="font-semibold">Address</h3>
      <address class="text-neutral-700">Street 221B Baker Street</address>
    </div>
    <div>
      <h3 class="font-semibold">Customer Support</h3>
      <p class="text-neutral-700">Phone: 0 123 456 789</p>
      <p class="text-neutral-700">Email: contact@example.com</p>
    </div>
  </div>