---
import { Icon } from "astro-icon";
---

<footer class="text-gray-200">
  <div class="bg-neutral-800 p-4">
    <div>
      <section>
        <h4 class="font-bold">About Us</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          nam maiores natus qui, ratione facilis architecto saepe aut, eaque
          maxime sint quaerat optio impedit facere nulla! Nemo iste commodi
          itaque? <a
            href="/about"
            class="text-gray-50 hover:text-blue-500 transition-colors"
            >Read more.</a
          >
        </p>
      </section>
      <ul class="text-center my-6">
        <li>
          <a href="#" class="hover:text-blue-500 transition-colors"
            >Lorem ipsum dolor.
          </a>
        </li>
        <li>
          <a href="#" class="hover:text-blue-500 transition-colors"
            >Lorem ipsum dolor sit amet consectetur.
          </a>
        </li>
        <li>
          <a href="#" class="hover:text-blue-500 transition-colors"
            >Lorem ipsum.
          </a>
        </li>
        <li>
          <a href="#" class="hover:text-blue-500 transition-colors"
            >Lorem ipsum dolor sit amet.
          </a>
        </li>
      </ul>
    </div>
    <div class="w-2/4 mx-auto flex flex-row justify-center gap-4 items-center">
      <a
        href="#"
        target="_blank"
        class="p-2 bg-neutral-700 rounded-md hover:bg-neutral-600 hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:facebook" width="20" height="16" />
      </a>
      <a
        href="#"
        target="_blank"
        class="p-2 bg-neutral-700 rounded-md hover:bg-neutral-600 hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:twitter" width="20" height="16" />
      </a>
      <a
        href="#"
        target="_blank"
        class="p-2 bg-neutral-700 rounded-md hover:bg-neutral-600 hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:github" width="20" height="16" />
      </a>
      <a
        href="#"
        target="_blank"
        class="p-2 bg-neutral-700 rounded-md hover:bg-neutral-600 hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:linkedin" width="20" height="16" />
      </a>
      <a
        href="#"
        target="_blank"
        class="p-2 bg-neutral-700 rounded-md hover:bg-neutral-600 hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:instagram" width="20" height="16" />
      </a>
    </div>
  </div>
  <div class="bg-neutral-900">
    <p class="text-center p-4" class="text-gray-300">
      Made with ❤ by <a
        href="http://github.com/hammadmajid"
        target="_blank"
        class="text-gray-50 hover:text-blue-500 transition-colors"
        >Hammad Majid</a
      >.
    </p>
  </div>
</footer>
