---
import { Icon } from "astro-icon";
---

<footer
  class="text-secondary bg-gradient-to-r from-slate-900 via-gray-900 to-neutral-900"
>
  <div class="p-4">
    <section class="md:mx-auto md:w-3/4 md:text-center mb-4">
      <p class="font-bold text-lg">About Us</p>
      <p>
        Creative ut tincidunt nibh, varius cursus nunc. Curabitur molestie,
        metus vel luctus euismod, mi libero laoreet odio, eu dapibus leo tortor
        sit amet purus. It is a long established fact that a reader will be
        distracted by the readable content of a page when looking at its layout.
      </p>
    </section>
    <div class="w-2/4 mx-auto flex flex-row justify-center gap-4 items-center">
      <a
        rel="prefetch"
        href="https://facebook.com/"
        target="_blank"
        class="p-2 hover:text-primary hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:facebook" width="20" height="20" />
      </a>
      <a
        rel="prefetch"
        href="https://twitter.com/"
        target="_blank"
        class="p-2 hover:text-primary hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:twitter" width="20" height="20" />
      </a>
      <a
        rel="prefetch"
        href="https://github.com/"
        target="_blank"
        class="p-2 hover:text-primary hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:github" width="20" height="20" />
      </a>
      <a
        rel="prefetch"
        href="https://linkedin.com/"
        target="_blank"
        class="p-2 hover:text-primary hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:linkedin" width="20" height="20" />
      </a>
      <a
        rel="prefetch"
        href="https://instagram.com/"
        target="_blank"
        class="p-2 hover:text-primary hover:cursor-pointer transition-colors"
      >
        <Icon name="bi:instagram" width="20" height="20" />
      </a>
    </div>
  </div>
  <div
    class="flex flex-col sm:flex-row sm:gap-1 items-center justify-center text-center p-4 text-secondary"
  >
    <p>
      Made with ❤ by <a
        rel="prefetch"
        href="http://github.com/hammadmajid"
        target="_blank"
        class="text-white hover:text-primary transition-colors"
        >Hammad Majid</a
      >.
    </p>
    <p>
      <a
        rel="prefetch"
        href="https://github.com/hammadmajid/ipsum-template/blob/master/LICENSE"
        class="text-white hover:text-primary transition-colors"
        target="_blank">GPL-3.0</a
      > license.
    </p>
  </div>
</footer>
