---
const { pageTitle } = Astro.props;
import NavBar from "@components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <NavBar />
  <body class="bg-secondary text-tertiary min-h-screen max-h-max">
    <slot />
  </body>
</html>
